In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("mubawab_1_to_275.csv")

In [5]:
df

,title,price,location,area_m2,rooms,bathrooms,property_type,url,garden,terrace,...,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen,scraped_at
0,Superbe S1 à vendre aux Jardins de Carthage. S...,507500.0,"Les Jardins de Carthage, Le Kram",75.0,1.0,1.0,NaN,https://www.mubawab.tn/fr/pa/8241699/superbe-s...,1,0,...,1,0,0,1,1,0,1,1,1,2026-02-06 21:01:03
1,Coquet App S2 de 193 m² à la Vente,890000.0,"La Marsa, La Marsa",133.0,3.0,NaN,NaN,https://www.mubawab.tn/fr/pa/8012675/coquet-ap...,1,1,...,0,1,0,1,1,1,1,1,1,2026-02-06 21:01:03
2,Fabuleux appartement S2 à vendre,640000.0,"Les Jardins de Carthage, Le Kram",129.0,2.0,NaN,Appartement,https://www.mubawab.tn/fr/pa/8270015/fabuleux-...,0,0,...,0,1,0,1,1,1,1,1,1,2026-02-06 21:01:03
3,Somptueuse maison à vendre à Chotrana 1.5 cham...,2600000.0,"Chotrana 1, La Soukra",2000.0,5.0,NaN,Maison,https://www.mubawab.tn/fr/a/8286494/somptueuse...,1,0,...,1,1,1,1,1,1,1,1,1,2026-02-06 21:01:03
4,Vend appartement à Les Jardins de Carthage. 1 ...,NaN,"Les Jardins de Carthage, Le Kram",77.0,1.0,1.0,Appartement,https://www.mubawab.tn/fr/a/8285902/vend-appar...,0,0,...,0,0,0,1,1,1,1,1,1,2026-02-06 21:01:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9336,Vente Villa Maher à Hammamet,760000.0,"Hammamet, Hammamet",284.0,4.0,NaN,Villa,https://www.mubawab.tn/fr/a/7319516/vente-vill...,1,1,...,0,0,0,1,1,0,0,0,1,2026-02-06 21:12:35
9337,Vente Villa Pawla à Hammamet Nord,1200000.0,"Hammamet Nord, Hammamet",280.0,4.0,NaN,Villa,https://www.mubawab.tn/fr/a/7343441/vente-vill...,1,1,...,1,0,0,1,1,1,1,1,1,2026-02-06 21:12:35
9338,Vente Villa cloé à Yasmine Hammamet,NaN,"Yasmine Hammamet, Hammamet",800.0,3.0,NaN,Villa,https://www.mubawab.tn/fr/a/7415282/vente-vill...,1,1,...,1,0,0,1,1,1,1,1,1,2026-02-06 21:12:35
9339,Magnifique villa S4 à Gammarth,NaN,"La Marsa, La Marsa",1200.0,4.0,NaN,Villa,https://www.mubawab.tn/fr/a/7252416/magnifique...,1,0,...,1,0,1,0,0,0,0,0,0,2026-02-06 21:12:35
9340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,2026-02-06 21:12:35

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9341 entries, 0 to 9340
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             9066 non-null   object
 1   price             7376 non-null   float64
 2   location          9066 non-null   object
 3   area_m2           8655 non-null   float64
 4   rooms             8373 non-null   float64
 5   bathrooms         3386 non-null   float64
 6   property_type     6800 non-null   object
 7   url               9066 non-null   object
 8   garden            9341 non-null   int64
 9   terrace           9341 non-null   int64
 10  garage            9341 non-null   int64
 11  elevator          9341 non-null   int64
 12  swimming_pool     9341 non-null   int64
 13  doorman           9341 non-null   int64
 14  cellar            9341 non-null   int64
 15  air_conditioning  9341 non-null   int64
 16  heating           9341 non-null   int64
 17  security          9341 non-null   int64
 18  double_glazing    9341 non-null   int64
 19  reinforced_door   9341 non-null   int64
 20  equipped_kitchen  9341 non-null   int64
 21  scraped_at        9341 non-null   object
dtypes: float64(4), int64(13), object(5)
memory usage: 1.6+ MB

In [7]:
df=df.drop(columns=["scraped_at","url"])

In [11]:
for col in df.columns:
  print(col,df[col].nunique())

title 7820
price 1058
location 609
area_m2 786
rooms 24
bathrooms 1
property_type 7
garden 2
terrace 2
garage 2
elevator 2
swimming_pool 2
doorman 2
cellar 2
air_conditioning 2
heating 2
security 2
double_glazing 2
reinforced_door 2
equipped_kitchen 2

In [17]:
#dropping the column bathrooms because it s equal to 1 or Nan so no added information
df=df.drop(columns="bathrooms")

In [12]:
df["property_type"].value_counts()

property_type
Villa          2781
Appartement    2770
Maison          640
Duplex          373
Immeuble        172
Studio           49
Terrain          15
Name: count, dtype: int64

In [18]:
df[df["property_type"] == "Terrain"]

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
1674,Terrain A Vendre Cité Général Skik le bardo,650000.0,"Le Bardo, Le Bardo",554.0,1.0,Terrain,0,0,0,0,0,0,0,0,0,0,0,0,0
2499,A vendre terrain Rui riadh andalos \nAriana,NaN,"Riadh al Andalous, Ariana Ville",223.0,1.0,Terrain,0,0,0,0,0,0,0,0,0,0,0,0,0
2500,A vendre terrain AV jaafar \nAriana,NaN,"Nouvelle Ariana, Ariana Ville",900.0,1.0,Terrain,0,0,0,0,0,0,0,0,0,0,0,0,0
3511,A vendre Terrain 3600m² pied dans l'eau à Sidi...,7200000.0,"Sidi El Mahrsi, Nabeul",3600.0,6.0,Terrain,0,0,1,0,0,1,0,0,0,0,0,0,0
3918,Vente terrain à Notre Dame. Surface totale 944 m²,NaN,"Mutuelle Ville, El Menzah",944.0,4.0,Terrain,1,1,1,0,0,0,0,0,1,0,0,0,0
5101,Houch Djerbien avec Terrain,420000.0,"Midoune, Midoun",2214.0,3.0,Terrain,1,1,0,0,0,0,0,0,0,0,0,0,0
5341,A vendre terrain d'exception R5 avenue Mohamed V,3800000.0,"Cité Jardins, Cité El Khadra",455.0,5.0,Terrain,0,1,0,0,0,0,0,0,0,0,0,0,0
5886,A' vendre S2 sur un terrain de 626 m² à Ksibet...,480000.0,"Sousse Riadh, Sousse Riadh",626.0,2.0,Terrain,0,0,1,0,0,0,0,0,0,0,0,0,0
6123,Terrain bâti 530 m² à vendre,NaN,"Le Bardo, Le Bardo",120.0,6.0,Terrain,1,1,0,0,0,0,1,0,1,0,1,0,0
7031,A vendre Terrain de 470m² à Av. Alain Savary,1250000.0,"Cité Jardins, Cité El Khadra",260.0,5.0,Terrain,1,1,0,0,0,0,0,0,0,0,0,0,0
7252,Terrain a vendre,NaN,"Ezzahra, Ezzahra",255.0,1.0,Terrain,0,0,0,0,0,0,0,0,0,0,0,0,0
7518,À vendre terrain destiné à la construction,26000.0,"Mansourah, Al-Qayrawan",160.0,1.0,Terrain,0,0,0,0,0,0,0,0,0,0,0,0,0
8063,Parcelle de terrain à Vendre ou à Louer,NaN,"Medenine, Medenine",196292.0,1.0,Terrain,0,0,0,0,0,0,0,0,0,0,0,0,0
8561,Terrain pour investissement,230000.0,"Le Kef, Le Kef",561.0,6.0,Terrain,1,0,1,0,0,0,1,0,0,0,0,0,1
9271,Terrain 430mRaoued Plage,220000.0,"Raoued, Raoued",430.0,2.0,Terrain,1,1,1,0,0,0,0,0,0,0,0,0,0

In [19]:
df = df.dropna(subset=['price'])

In [28]:
df[df["rooms"].isna()]["property_type"].value_counts()

property_type
Villa          177
Immeuble        26
Maison          21
Duplex          15
Appartement      6
Name: count, dtype: int64

In [30]:
df[(df["rooms"].isna()) & (df["property_type"] == "Appartement")]

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
3852,Appartement S2 à la Marsa,330000.0,"La Marsa, La Marsa",115.0,NaN,Appartement,0,1,0,0,0,0,0,0,0,0,0,0,1
4880,Appartement à vendre à La Manouba. Superficie ...,240000.0,"La Manouba, La Manouba",119.0,NaN,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,0
4882,Vend appartement à La Manouba. Surface totale ...,230000.0,"La Manouba, La Manouba",115.0,NaN,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,0
4936,Appartement en vente à La Manouba. Surface de ...,230000.0,"La Manouba, La Manouba",115.0,NaN,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,0
6962,Un Bel Appartement S1 à Vendre à la Marsa,520000.0,"La Marsa, La Marsa",76.0,NaN,Appartement,0,0,1,1,1,0,0,0,0,0,0,0,0
7780,À vendre Appartements à Gammarth zone touristi...,633600.0,"La Marsa, La Marsa",NaN,NaN,Appartement,0,0,1,0,1,0,0,0,0,1,0,0,0

In [31]:
df[(df["rooms"].isna()) & (df["property_type"] == "Duplex")]

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
133,Duplex en vente,650000.0,"La Marsa, La Marsa",151.0,NaN,Duplex,1,1,1,0,0,0,0,1,1,0,0,0,0
1548,Duplex en vente,335000.0,"La Manouba, La Manouba",105.0,NaN,Duplex,1,1,0,0,0,0,0,0,0,0,0,0,0
2394,Duplex en vente,190000.0,"Route Teniour, Sfax Ville",193.0,NaN,Duplex,0,1,0,0,0,0,0,0,0,0,0,0,0
2536,Duplex en vente,595000.0,"Cité Mohamed Ali, Rades",170.0,NaN,Duplex,0,0,0,0,0,0,0,0,1,0,0,0,0
2703,Duplex en vente,135000.0,"Monastir Ville, Monastir Ville",70.0,NaN,Duplex,0,0,0,0,0,0,0,0,0,0,0,0,0
3720,Duplex en vente,490000.0,"Skanes, Monastir Ville",201.0,NaN,Duplex,0,1,0,0,0,0,0,1,1,0,0,0,0
3956,Duplex en vente,380000.0,"El Menzah 6, Ariana Ville",175.0,NaN,Duplex,0,1,0,0,0,0,0,0,1,0,0,0,0
4276,Duplex en vente,1250000.0,"Skanes, Monastir Ville",250.0,NaN,Duplex,1,0,0,0,0,0,0,1,0,1,0,0,0
5484,Duplex en vente,450000.0,"La Marsa, La Marsa",140.0,NaN,Duplex,0,1,1,0,0,0,0,0,0,1,0,0,1
6098,Duplex en vente,450000.0,"Ariana Ville, Ariana Ville",160.0,NaN,Duplex,0,0,0,0,0,0,0,1,1,0,0,0,0
6606,Duplex en vente,280000.0,"Tunis, Tunis",140.0,NaN,Duplex,0,1,0,0,0,0,0,0,0,0,0,0,0
6619,Duplex en vente,750000.0,"Salakta, Salakta",348.0,NaN,Duplex,0,1,0,0,0,0,0,0,0,0,0,0,0
7126,Duplex en vente,480000.0,"El Manar 1, El Menzah",265.0,NaN,Duplex,0,1,1,0,0,0,0,1,1,1,0,0,0
8414,Duplex en vente,350000.0,"Bizerte, Bizerte",200.0,NaN,Duplex,0,1,0,0,0,0,0,0,0,0,0,0,0
8452,Duplex en vente,350000.0,"Bizerte, Bizerte",194.0,NaN,Duplex,0,1,0,0,0,0,0,0,0,0,0,0,0

In [32]:
df[(df["rooms"].isna()) & (df["property_type"] == "Villa")]

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
74,Villa individuelle en vente,1380000.0,La Marsa,450.0,NaN,Villa,1,1,1,0,0,0,1,0,0,0,0,0,0
99,Villa individuelle en vente,200000.0,"Sousse Riadh, Sousse Riadh",94.0,NaN,Villa,0,1,0,0,0,0,0,0,0,0,0,0,0
126,Villa individuelle en vente,220000.0,"Sousse Riadh, Sousse Riadh",130.0,NaN,Villa,1,0,1,0,0,0,0,0,0,0,0,0,0
127,Villa individuelle en vente,610000.0,"Sousse Riadh, Sousse Riadh",450.0,NaN,Villa,1,1,1,0,0,0,1,0,0,0,0,0,1
174,Villa jumelée en vente,970000.0,La Soukra,230.0,NaN,Villa,1,1,1,0,1,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,Villa jumelée en vente,670000.0,"Nouvelle Ariana, Ariana Ville",449.0,NaN,Villa,1,1,0,0,0,0,0,1,0,0,0,0,0
8950,Deux Villa jumelée avec piscine à vendre aux B...,8000000.0,"Les Berges Du Lac 2, La Marsa",780.0,NaN,Villa,0,0,0,0,0,0,0,0,0,0,0,0,0
8954,Etage de villa en vente,340000.0,"Ariana, Ariana Ville",230.0,NaN,Villa,0,0,0,0,0,0,0,0,1,0,0,0,0
8976,Etage de villa en vente,220000.0,"Bizerte, Bizerte",120.0,NaN,Villa,0,1,0,0,0,0,0,0,0,1,0,0,0
8977,Villa individuelle en vente,725000.0,"Bizerte, Bizerte",460.0,NaN,Villa,0,0,0,0,0,0,0,0,0,1,0,0,1

In [33]:
import re

# 1. Extraction of rooms from title (e.g., S1, S2, S3...)
def extract_rooms_from_title(title):
    if pd.isna(title):
        return np.nan
    # Search for S followed by a digit (e.g., S1, S2, s+1)
    match = re.search(r'[sS]\+?(\d+)', str(title))
    if match:
        return float(match.group(1))
    return np.nan

# Only apply to rows where 'rooms' is NaN
mask_rooms = df['rooms'].isna()
df.loc[mask_rooms, 'rooms'] = df.loc[mask_rooms, 'title'].apply(extract_rooms_from_title)

# 2. Update binary features based on keywords in the title
features_map = {
    'swimming_pool': ['piscine', 'pool'],
    'garden': ['jardin', 'garden'],
    'terrace': ['terrasse', 'terrace'],
    'garage': ['garage', 'parking', 'sous-sol'],
    'elevator': ['ascenseur'],
    'air_conditioning': ['climatisation', 'clim'],
    'heating': ['chauffage'],
    'equipped_kitchen': ['cuisine équipée', 'cuisine installée'],
    'security': ['sécurité', 'gardien', 'surveillance']
}

for col, keywords in features_map.items():
    if col in df.columns:
        pattern = '|'.join(keywords)
        # Update the column to 1 if any keyword is found in the title (case insensitive)
        df.loc[df['title'].str.contains(pattern, case=False, na=False), col] = 1

print("Missing values for 'rooms' after processing:", df['rooms'].isna().sum())
df.head()

Missing values for 'rooms' after processing: 433

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
0,Superbe S1 à vendre aux Jardins de Carthage. S...,507500.0,"Les Jardins de Carthage, Le Kram",75.0,1.0,NaN,1,0,1,0,1,0,0,1,1,0,1,1,1
1,Coquet App S2 de 193 m² à la Vente,890000.0,"La Marsa, La Marsa",133.0,3.0,NaN,1,1,1,1,0,1,0,1,1,1,1,1,1
2,Fabuleux appartement S2 à vendre,640000.0,"Les Jardins de Carthage, Le Kram",129.0,2.0,Appartement,0,0,0,1,0,1,0,1,1,1,1,1,1
3,Somptueuse maison à vendre à Chotrana 1.5 cham...,2600000.0,"Chotrana 1, La Soukra",2000.0,5.0,Maison,1,0,1,0,1,1,1,1,1,1,1,1,1
5,Appartement en vente à Aouina. Surface de 160 ...,330000.0,"Aouina, La Marsa",160.0,3.0,Appartement,0,0,1,1,0,0,0,1,1,1,1,1,1

In [34]:
df[(df["rooms"].isna()) & (df["property_type"] == "Appartement")]

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
4880,Appartement à vendre à La Manouba. Superficie ...,240000.0,"La Manouba, La Manouba",119.0,NaN,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,0
4882,Vend appartement à La Manouba. Surface totale ...,230000.0,"La Manouba, La Manouba",115.0,NaN,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,0
4936,Appartement en vente à La Manouba. Surface de ...,230000.0,"La Manouba, La Manouba",115.0,NaN,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,0
7780,À vendre Appartements à Gammarth zone touristi...,633600.0,"La Marsa, La Marsa",NaN,NaN,Appartement,0,0,1,0,1,0,0,0,0,1,0,0,0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7376 entries, 0 to 9337
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             7376 non-null   object
 1   price             7376 non-null   float64
 2   location          7376 non-null   object
 3   area_m2           7075 non-null   float64
 4   rooms             6943 non-null   float64
 5   property_type     5500 non-null   object
 6   garden            7376 non-null   int64
 7   terrace           7376 non-null   int64
 8   garage            7376 non-null   int64
 9   elevator          7376 non-null   int64
 10  swimming_pool     7376 non-null   int64
 11  doorman           7376 non-null   int64
 12  cellar            7376 non-null   int64
 13  air_conditioning  7376 non-null   int64
 14  heating           7376 non-null   int64
 15  security          7376 non-null   int64
 16  double_glazing    7376 non-null   int64
 17  reinforced_door   7376 non-null   int64
 18  equipped_kitchen  7376 non-null   int64
dtypes: float64(3), int64(13), object(3)
memory usage: 1.1+ MB

# Task
Fill missing values in the `property_type` column of the dataframe `df` by searching for property-related keywords such as 'appartement', 'villa', 'duplex', 'maison', 'studio', 'immeuble', or 'terrain' within the `title` column.

In [39]:
property_keywords = {
    'Appartement': ['appartement', 'app', 'studio',"s1","s2","s3","s4"],
    'Villa': ['villa'],
    'Duplex': ['duplex'],
    'Maison': ['maison'],
    'Immeuble': ['immeuble'],
    'Terrain': ['terrain']
}

# Only target rows where property_type is null
mask_prop = df['property_type'].isna()

def extract_property_type(title):
    if pd.isna(title):
        return np.nan
    title_lower = str(title).lower()
    for prop_type, keywords in property_keywords.items():
        for kw in keywords:
            if kw in title_lower:
                return prop_type
    return np.nan

df.loc[mask_prop, 'property_type'] = df.loc[mask_prop, 'title'].apply(extract_property_type)

print("Missing property_type values remaining:", df['property_type'].isna().sum())
display(df['property_type'].value_counts())
display(df.head())

Missing property_type values remaining: 504

property_type
Appartement    3622
Villa          2251
Maison          488
Duplex          307
Immeuble        159
Studio           36
Terrain           9
Name: count, dtype: int64

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen
0,Superbe S1 à vendre aux Jardins de Carthage. S...,507500.0,"Les Jardins de Carthage, Le Kram",75.0,1.0,Appartement,1,0,1,0,1,0,0,1,1,0,1,1,1
1,Coquet App S2 de 193 m² à la Vente,890000.0,"La Marsa, La Marsa",133.0,3.0,Appartement,1,1,1,1,0,1,0,1,1,1,1,1,1
2,Fabuleux appartement S2 à vendre,640000.0,"Les Jardins de Carthage, Le Kram",129.0,2.0,Appartement,0,0,0,1,0,1,0,1,1,1,1,1,1
3,Somptueuse maison à vendre à Chotrana 1.5 cham...,2600000.0,"Chotrana 1, La Soukra",2000.0,5.0,Maison,1,0,1,0,1,1,1,1,1,1,1,1,1
5,Appartement en vente à Aouina. Surface de 160 ...,330000.0,"Aouina, La Marsa",160.0,3.0,Appartement,0,0,1,1,0,0,0,1,1,1,1,1,1

In [51]:
def map_region(location):
    if pd.isna(location):
        return "South"
    loc = str(location).lower()

    # Keywords for Grand Tunis
    grand_tunis_kw = [
    # Governorates
    'tunis', 'ariana', 'ben arous', 'benarous', 'manouba',

    # Tunis city & districts
    'la goulette', 'goulette', 'lac', 'berge du lac', 'les berges',
    'carthage', 'sidi bou said', 'sidi bou saïd', 'bardo',
    'el menzah', 'menzah', 'ennasr', 'nasr',
    'el aouina', 'aouina', 'kheireddine',
    'el omrane', 'omrane', 'el ouardia', 'ouardia',
    'kabaria', 'ibn sina', 'jbel lahmar',
    'el hrairia', 'hrairia',
    'sidi hassine', 'douar hicher',
    'ettahrir', 'intilaka',

    # Ariana
    'raoued', 'ghazela', 'cité ghazela', 'borj louzir',
    'mnihla', 'soukra', 'la soukra',

    # Ben Arous
    'bou mhel', 'boumhel', 'boumhel bassatine',
    'el mourouj', 'mourouj',
    'fouchana', 'borj cedria', 'hammam chatt',
    'rades', 'ezzahra', 'mornag', 'megrine', 'mégrine',
    'bir el bey',

    # Manouba
    'manouba', 'den den', 'denden',
    'tebourba', 'jedaida', 'douar hicher',
    'borj el amri', 'mornaguia'
]

    sahel_kw = [
    # Bizerte
    'bizerte', 'bizert', 'metline', 'ras jebel', 'cap zebib',
    'menzel jemil', 'menzel bourguiba', 'el alia',
    'ghar el melh', 'utique', 'raf raf', 'zarzouna',

    # Nabeul
    'nabeul', 'hammamet', 'kelibia', 'kélibia',
    'korba', 'beni khiar', 'el maamoura',
    'menzel temime', 'lebna', 'haouaria', 'el haouaria',
    'tazarka', 'dar chaabane', 'dar châabane',
    'hammam el ghezaz', 'ghezèze', 'soliman',
    'beni khalled', 'bou argoub',

    # Sousse
    'sousse', 'akouda', 'chott meriem',
    'kalaa kebira', 'kalâa kebira',
    'kalaa sghira', 'kalâa sghira',
    'sahloul', 'khezama', 'tantana',
    'hergla', 'bouficha', 'sidi abdelhamid',
    'sahline', 'barraket essahel',

    # Monastir
    'monastir', 'ksar hellal', 'moknine',
    'bekalta', 'teboulba', 'ksibet el mediouni',
    'ksibet el-médiouni',

    # Mahdia
    'mahdia', 'salakta', 'ksour essef',
    'chebba', 'essouassi'
]
    north_east_kw=[# Kef / Beja / Jendouba
    'le kef', 'béja', 'beja', 'jendouba',
    'tabarka', 'ain draham']

    if any(kw in loc for kw in grand_tunis_kw):
        return "Grand Tunis"
    elif any(kw in loc for kw in sahel_kw):
        return "Sahel"
    elif any(kw in loc for kw in north_east_kw):
        return "North-East"

    else:
        return "South"

df['Region'] = df['location'].apply(map_region)

print("Distribution of listings by Region:")
print(df['Region'].value_counts())
df.head()

Distribution of listings by Region:
Region
Grand Tunis    3266
Sahel          2685
South          1409
North-East       16
Name: count, dtype: int64

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen,Region
0,Superbe S1 à vendre aux Jardins de Carthage. S...,507500.0,"Les Jardins de Carthage, Le Kram",75.0,1.0,Appartement,1,0,1,0,1,0,0,1,1,0,1,1,1,Grand Tunis
1,Coquet App S2 de 193 m² à la Vente,890000.0,"La Marsa, La Marsa",133.0,3.0,Appartement,1,1,1,1,0,1,0,1,1,1,1,1,1,South
2,Fabuleux appartement S2 à vendre,640000.0,"Les Jardins de Carthage, Le Kram",129.0,2.0,Appartement,0,0,0,1,0,1,0,1,1,1,1,1,1,Grand Tunis
3,Somptueuse maison à vendre à Chotrana 1.5 cham...,2600000.0,"Chotrana 1, La Soukra",2000.0,5.0,Maison,1,0,1,0,1,1,1,1,1,1,1,1,1,Grand Tunis
5,Appartement en vente à Aouina. Surface de 160 ...,330000.0,"Aouina, La Marsa",160.0,3.0,Appartement,0,0,1,1,0,0,0,1,1,1,1,1,1,Grand Tunis

In [52]:
df[df["Region"]=="South"]

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,swimming_pool,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen,Region
1,Coquet App S2 de 193 m² à la Vente,890000.0,"La Marsa, La Marsa",133.0,3.0,Appartement,1,1,1,1,0,1,0,1,1,1,1,1,1,South
22,S2 moderne a vendre,617200.0,"Ain Zaghouan Nord, La Marsa",126.0,2.0,Appartement,0,0,1,0,1,0,0,1,1,0,1,1,1,South
25,Villa S4 neuve jardin&piscine à louer à Gammath,2100000.0,"Gammarth, La Marsa",331.0,4.0,Villa,1,1,1,0,1,0,1,1,1,1,1,1,1,South
40,Des appartements à vendre chez promoteur,386000.0,"Ain Zaghouan Nord, La Marsa",117.0,2.0,Appartement,0,1,1,1,0,1,0,1,1,1,1,1,1,South
41,Résidence Alézia à La Marsa,890000.0,"La Marsa, La Marsa",NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9306,Un joli S2 à la Marsa,550000.0,"La Marsa, La Marsa",126.0,2.0,Appartement,0,1,1,0,0,0,0,0,0,0,0,0,1,South
9313,Villa laleli,478500.0,"Djerba, Djerba",145.0,3.0,Villa,1,1,1,0,1,0,0,1,0,1,1,1,1,South
9320,"Vente villa 400 m² sur Plantation 1,16 ha à O....",1700000.0,"Oued Ellil, Oued Ellil",400.0,5.0,Villa,1,1,1,0,0,0,1,0,1,1,1,1,1,South
9321,Villa a vendre a Gabes,350000.0,"Gabès, Gabès Ville",575.0,3.0,Villa,1,1,1,0,0,0,0,1,0,0,0,0,1,South
9322,Villa avec piscine à vendre villa wilson,335000.0,"Djerba, Djerba",80.0,2.0,Villa,0,0,0,0,1,0,0,1,0,0,0,0,1,South

In [53]:
for val in df[df["Region"]=="South"]["location"]:
  print(val)

La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Route Teniour, Sfax Ville
Route Teniour, Sfax Ville
Route Teniour, Sfax Ville
Ain Zaghouan Nord, La Marsa
Bhar Lazreg, La Marsa
Ain Zaghouan Nord,
								La Marsa
La Marsa
Cité Les Pins,
								La Marsa
Nouvelle Medina
Nouvelle Medina
Nouvelle Medina
Bhar Lazreg,
								La Marsa
La Marsa, La Marsa
Cité des Juges, La Marsa
Cité Jardins, Cité El Khadra
Bhar Lazreg, La Marsa
Kairouan Ville, Kairouan Ville
La Marsa, La Marsa
La Marsa, La Marsa
Bhar Lazreg, La Marsa
Cité El Khadra, Cité El Khadra
Kairouan Ville, Kairouan Ville
La Marsa, La Marsa
Bhar Lazreg,
								La Marsa
La Marsa
Kairouan Ville
Ain Zaghouan,
								La Marsa
Bhar Lazreg,
								La Marsa
Ain Zaghouan Nord,
								La Marsa
Gammarth Supérieur,
								La Marsa
Kairouan Ville
Gammarth Supérieur, La Marsa
Le Kram, Le Kram
Nouvelle Medina
Bhar Lazreg,
								La Marsa
Kairouan Ville
Ain Zaghouan Nord, La Marsa
Oued Ellil, Oued Ellil
Gammarth, La Marsa
Nouvelle Medina
Sidi Daoued,
								La Marsa
Le Kram
Bhar Lazreg,
								La Marsa
Kairouan Ville
Ain Zaghouan, Zaghouan
Nouvelle Medina
Le Kram
Bhar Lazreg,
								La Marsa
Kairouan Ville
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Nouvelle Medina
Centre Urbain Nord,
								Cité El Khadra
Cité Jardins,
								Cité El Khadra
Bhar Lazreg,
								La Marsa
Kairouan Ville
Gammarth Supérieur,
								La Marsa
Nouvelle Medina, Nouvelle Medina
Bhar Lazreg, La Marsa
Kairouan Ville, Kairouan Ville
Nouvelle Medina, Nouvelle Medina
Centre Urbain Nord, Cité El Khadra
Nouvelle Medina, Nouvelle Medina
Bhar Lazreg, La Marsa
Kairouan Ville, Kairouan Ville
Gammarth, La Marsa
Gammarth Supérieur, La Marsa
La Marsa, La Marsa
Sidi Daoued, La Marsa
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Bhar Lazreg, La Marsa
Kairouan Ville, Kairouan Ville
Gammarth, La Marsa
La Marsa, La Marsa
Djerba, Djerba
Bhar Lazreg, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Djerba, Djerba
Le Kram, Le Kram
Bhar Lazreg, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Djerba, Djerba
Bhar Lazreg, La Marsa
Ain Zaghouan Nord, La Marsa
Djerba
Ain Zaghouan,
								La Marsa
Bhar Lazreg,
								La Marsa
Cité El Khalil,
								La Marsa
Kairouan Ville, Kairouan Ville
Djerba, Djerba
Bhar Lazreg, La Marsa
Cité El Khalil, La Marsa
Ain Zaghouan Nord, La Marsa
Djerba
Cité Jardins,
								Cité El Khadra
La Marsa, La Marsa
Ain Zaghouan,
								La Marsa
Bhar Lazreg,
								La Marsa
La Marsa
Gammarth Supérieur,
								La Marsa
Djerba, Djerba
Bhar Lazreg, La Marsa
Gammarth Supérieur, La Marsa
Nouvelle Medina, Nouvelle Medina
Djerba
La Marsa
La Marsa, La Marsa
Bhar Lazreg,
								La Marsa
Djerba
Djerba
Djerba
La Marsa
La Marsa
Centre Urbain Nord,
								Cité El Khadra
Djerba
Le Kram, Le Kram
Gammarth, La Marsa
Djerba, Djerba
La Marsa, La Marsa
Sidi Jmour, Houmt Souk
La Marsa, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Sidi Daoued, La Marsa
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
Gammarth, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan Nord, La Marsa
Nouvelle Medina, Nouvelle Medina
Cité Rmila 1, La Marsa
Ain Zaghouan, La Marsa
Cité Erriadh, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord,
								La Marsa
Cité Les Pins, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Aghir, Aghir
Cité Les Pins, La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan Nord, La Marsa
Midoune, Midoun
Midoune, Midoun
Djerba, Djerba
Cité El Mahrajene, Cité El Mahrajene
Cité Les Pins,
								La Marsa
La Marsa
Cité Erriadh, La Marsa
Cité Du Stade, La Marsa
Kairouan Ville, Kairouan Ville
Cité Les Pins, La Marsa
Ain Zaghouan, La Marsa
Kairouan Ville, Kairouan Ville
Gammarth, La Marsa
Midoune, Midoun
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan, La Marsa
Gammarth Supérieur, La Marsa
Ain Zaghouan Sud, La Marsa
Cité Les Pins, La Marsa
Gammarth, La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Nouvelle Medina
Kairouan Ville, Kairouan Ville
Ain Zaghouan, La Marsa
Tezdaine, Tezdaine
Bhar Lazreg, La Marsa
La Marsa
Le Kram, Le Kram
La Marsa, La Marsa
Kairouan Ville, Kairouan Ville
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Gammarth Supérieur, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Le Kram, Le Kram
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
La Marsa
La Marsa, La Marsa
Ain Zaghouan,
								La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan,
								La Marsa
Ain Zaghouan, La Marsa
Bhar Lazreg, La Marsa
Houmt Souk, Houmt Souk
La Marsa, La Marsa
La Marsa, La Marsa
Kairouan Ville, Kairouan Ville
Cité El Khalil, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord,
								La Marsa
Gammarth,
								La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord,
								La Marsa
Nouvelle Medina, Nouvelle Medina
Ain Zaghouan Nord, La Marsa
Kairouan Ville, Kairouan Ville
Ain Zaghouan, La Marsa
Gammarth, La Marsa
Cité Jardins, Cité El Khadra
Ain Zaghouan Nord,
								La Marsa
Aghir
Nouvelle Medina
La Marsa, La Marsa
Kairouan Ville, Kairouan Ville
La Marsa
Sidi Thabet, Sidi Thabet
Houmt Souk, Houmt Souk
Gammarth, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Aghir, Aghir
Gammarth, La Marsa
Ain Zaghouan, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
Cité Jardins, Cité El Khadra
Sidi Daoued, La Marsa
Sidi Daoued, La Marsa
Bhar Lazreg, La Marsa
Cité El Hana, La Marsa
Bhar Lazreg, La Marsa
Bhar Lazreg, La Marsa
Ain Zaghouan Nord, La Marsa
Bhar Lazreg, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Le Kram, Le Kram
Cité El Khalil, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Kairouan Ville, Kairouan Ville
Ain Zaghouan,
								La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
La Médina, La Medina
Djerba, Djerba
Cité El Mhiri, La Marsa
Ain Zaghouan Nord,
								La Marsa
La Marsa
Djerba, Djerba
M'saken, M'saken
Ain Zaghouan Nord,
								La Marsa
Gammarth, La Marsa
Sidi Daoued, La Marsa
Aghir, Midoun
Kairouan Sud, Kairouan Sud
Route El Ain, Sfax Ville
Gammarth Village, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Nouvelle Medina, Nouvelle Medina
Nouvelle Medina, Nouvelle Medina
Gammarth, La Marsa
Midoune, Midoun
Gammarth, La Marsa
Ain Zaghouan Nord,
								La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord,
								La Marsa
Gammarth,
								La Marsa
La Marsa, La Marsa
Medenine, Medenine
Zone touristique, Midoun
Houmt Souk, Houmt Souk
Gammarth, La Marsa
Enfidha, Enfidha
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth Village, La Marsa
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Gammarth, La Marsa
Sidi Daoued, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord,
								La Marsa
Gammarth, La Marsa
Midoune, Midoun
La Marsa, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord,
								La Marsa
La Marsa
Centre Urbain Nord, Cité El Khadra
Ain Zaghouan Sud, La Marsa
Ain Zaghouan, La Marsa
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Cité Les Pins,
								La Marsa
Route Saltnia, Sfax Ville
Nouvelle Medina
Ain Zaghouan,
								La Marsa
Gafsa Ville, Gafsa Ville
Route Teniour, Sfax Ville
La Marsa, La Marsa
Gammarth Village, La Marsa
La Marsa
Gammarth Village,
								La Marsa
Ain Zaghouan, La Marsa
Route sokra, Sfax Ville
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Houmt Souk, Houmt Souk
La Marsa, La Marsa
Djerba
Route gremda, Sfax Ville
Bhar Lazreg, La Marsa
El Yasminette, Nouvelle Medina
Sfax Ville, Sfax Ville
La Marsa, La Marsa
La Marsa, La Marsa
Djerba, Djerba
Gammarth, La Marsa
Gammarth, La Marsa
Gammarth Village, La Marsa
Djerba
Sened, Sened
Gammarth,
								La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
El Yasminette, Nouvelle Medina
Gammarth Village,
								La Marsa
Ain Zaghouan, La Marsa
Sakiet Ezzit, Sakiet Ezzit
La Médina, La Medina
Ain Zaghouan Nord, La Marsa
Gammarth Supérieur, La Marsa
Midoun zone touristique
Ain Zaghouan Nord, La Marsa
La Marsa
Djerba, Djerba
Cebalat Ben Ammar, Sidi Thabet
Gammarth, La Marsa
Midoune, Midoun
La Médina, La Medina
Ain Zaghouan, La Marsa
Tezdaine, Djerba
Djerba, Djerba
Midoune, Midoun
Tezdaine, Tezdaine
Merkez Chihya, Sakiet Ezzit
Midoun zone touristique, Midoun zone touristique
Midoune, Midoun
Gammarth,
								La Marsa
La Marsa
La Marsa
La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Gammarth Village, La Marsa
Cité Ezzouhour 2, Cité Ezzouhour 2
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Ain Zaghouan,
								La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
Ain Zaghouan Sud, La Marsa
Ain Zaghouan Sud, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Sud, La Marsa
Sidi Mansour, Sakiet Eddaier
Ain Zaghouan Nord, La Marsa
Cité Les Pins, La Marsa
Cebalat Ben Ammar, Sidi Thabet
Sidi Thabet, Sidi Thabet
Sakiet Eddaier, Sakiet Eddaier
Sidi Daoued, La Marsa
Ain Zaghouan, La Marsa
Gammarth Supérieur, La Marsa
Cité Taieb Mhiri, Menzel Chaker
Cité Les Pins, La Marsa
La Marsa, La Marsa
Le Kram, Le Kram
Le Kram, Le Kram
Le Kram, Le Kram
Ain Zaghouan Nord, La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Route Bouzayyen,
								Sfax Ville
Marsa Erriadh, La Marsa
Gammarth, La Marsa
Bhar Lazreg, La Marsa
Gammarth, La Marsa
Mezraya, Mezraya
Centre Urbain Nord, Cité El Khadra
Tinja
Ain Zaghouan, La Marsa
Gammarth Supérieur, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Kairouan Sud, Kairouan Sud
La Marsa, La Marsa
El Hamma, El Hamma
Gammarth, La Marsa
Cité El Khadra, Cité El Khadra
Gammarth, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Houmt Souk, Houmt Souk
Houmt Souk, Houmt Souk
La Marsa, La Marsa
La Marsa, La Marsa
Bhar Lazreg, La Marsa
La Marsa, La Marsa
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
Kairouan Ville, Kairouan Ville
Gammarth, La Marsa
Gammarth, La Marsa
Cité Erriadh, La Marsa
Ain Zaghouan Sud, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa
Midoun zone touristique, Midoun zone touristique
El Yasminette, Nouvelle Medina
Nouvelle Medina, Nouvelle Medina
Gammarth, La Marsa
Hammam Lif, Hammam Lif
Gammarth, La Marsa
Cité Du Stade, La Marsa
Le Kram, Le Kram
Ain Zaghouan Nord, La Marsa
Cité Les Pins, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Ain Zaghouan, La Marsa
Gammarth Village, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Le Kram, Le Kram
Medjez El Bab, Medjez El Bab
Midoune, Midoun
Ain Zaghouan Nord, La Marsa
Sakiet Ezzit
Ain Zaghouan Nord, La Marsa
Cité Du Stade, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan, La Marsa
Bhar Lazreg,
								La Marsa
Nouvelle Medina
La Marsa, La Marsa
Ain Zaghouan, La Marsa
La Médina, La Medina
Nouvelle Medina, Nouvelle Medina
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Bhar Lazreg, La Marsa
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
El May, Midoun
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Houmt Souk, Houmt Souk
Centre Urbain Nord, Cité El Khadra
La Marsa, La Marsa
Gammarth Supérieur, La Marsa
Gammarth Supérieur, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Le Kram, Le Kram
Gammarth, La Marsa
Centre Urbain Nord, Cité El Khadra
La Marsa, La Marsa
La Marsa, La Marsa
Le Kram, Le Kram
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Djerba, Djerba
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Le Kram, Le Kram
Gammarth Supérieur, La Marsa
Sidi Mansour, Sakiet Eddaier
Le Kram, Le Kram
La Marsa, La Marsa
Gammarth, La Marsa
Gammarth, La Marsa
Gammarth, La Marsa
Centre Urbain Nord, Cité El Khadra
Gammarth Supérieur, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Cité Erriadh, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Ain Zaghouan, Zaghouan
Gammarth, La Marsa
Gammarth, La Marsa
Borj Youssef, Sidi Thabet
Cité El Moez, La Marsa
Bouzayen, Sfax Ville
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Gammarth Supérieur, La Marsa
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
El Yasminette, Nouvelle Medina
Nouvelle Medina, Nouvelle Medina
Cité Jardins, Cité El Khadra
Gafsa Ville, Gafsa Ville
Hammam Lif, Hammam Lif
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
Hammam Lif, Hammam Lif
Nouvelle Medina, Nouvelle Medina
Gammarth, La Marsa
Houmt Souk, Houmt Souk
Route Lafrane, Sfax Ville
Gammarth Village, La Marsa
Gammarth, La Marsa
Gammarth Supérieur, La Marsa
Djerba, Djerba
Gammarth, La Marsa
Houmt Souk, Houmt Souk
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Le Kram, Le Kram
La Marsa, La Marsa
Gammarth Village, La Marsa
Gammarth, La Marsa
Kerkenah, Kerkennah
Kairouan Ville, Kairouan Ville
Gammarth Supérieur, La Marsa
Route gremda, Sfax Ville
Gammarth Supérieur, La Marsa
Borj Youssef, Sidi Thabet
Gammarth, La Marsa
Gammarth Supérieur, La Marsa
Bhar Lazreg, La Marsa
Gammarth, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Gammarth Supérieur, La Marsa
Ain Zaghouan, La Marsa
Cité Ennacim 1, Mohamadia
Gammarth, La Marsa
Aïn Draham, Aïn Draham
Gammarth, La Marsa
Djerba, Djerba
Houmt Souk, Houmt Souk
Cité El Khalil, La Marsa
Le Kram, Le Kram
Bouzayen, Sfax Ville
Centre Ville, Gafsa Sud
Gammarth, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Djerba, Djerba
Centre Urbain Nord, Cité El Khadra
Gammarth, La Marsa
Route El Ain, Sfax Ville
Gammarth, La Marsa
Ain Zaghouan, La Marsa
Route El Ain, Sfax Ville
Gammarth Village, La Marsa
La Marsa, La Marsa
Route Saltnia, Sfax Ville
La Marsa, La Marsa
Le Kram, Le Kram
Route Teniour, Sfax Ville
El Yasminette, Nouvelle Medina
Nouvelle Medina, Nouvelle Medina
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Midoune, Midoun
La Marsa, La Marsa
Djerba, Djerba
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Route El Ain, Sfax Ville
Route gremda, Sfax Ville
Centre Urbain Nord, Cité El Khadra
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan, La Marsa
Midoune, Midoun
Route gremda, Sfax Ville
Gammarth, La Marsa
Le Kram, Le Kram
La Marsa, La Marsa
Djerba, Djerba
Djerba, Djerba
Houmt Souk, Houmt Souk
Kerkenah, Kerkennah
La Marsa, La Marsa
Gammarth, La Marsa
Aghir, Aghir
Midoun zone touristique, Midoun zone touristique
Midoune, Midoun
Cité Les Pins, La Marsa
Zone touristique, Midoun
La Marsa, La Marsa
Le Kram, Le Kram
Le Kram, Le Kram
Ain Zaghouan Nord, La Marsa
Cité Olympique, Cité El Khadra
Gammarth, La Marsa
La Marsa, La Marsa
Cité El Khalil, La Marsa
Cité El Khadra, Cité El Khadra
Le Kram, Le Kram
Cité Erriadh, La Marsa
Ain Zaghouan Sud, La Marsa
Cité Borj El kouki, La Marsa
La Marsa, La Marsa
Route gremda, Sfax Ville
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Nouvelle Medina, Nouvelle Medina
Ain Zaghouan Nord, La Marsa
Ajim, Ajim
Midoune, Midoun
Midoune, Midoun
Houmt Souk, Houmt Souk
Midoune, Midoun
Djerba, Djerba
Midoune, Midoun
Midoune, Midoun
Tezdaine, Tezdaine
Aghir, Aghir
Ain Zaghouan, La Marsa
Midoune, Midoun
Oued Ellil, Oued Ellil
Cité El Khalil, La Marsa
Nouvelle Medina, Nouvelle Medina
Bhar Lazreg, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
Gammarth Village, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Cité Hached, Hammam Lif
Ain Zaghouan Nord, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Bhar Lazreg, La Marsa
Le Kram, Le Kram
Centre Urbain Nord, Cité El Khadra
La Marsa, La Marsa
Gammarth, La Marsa
Gammarth, La Marsa
Gammarth Supérieur, La Marsa
Gammarth Village, La Marsa
Gammarth, La Marsa
Cité Ezzouhour 3, Cité Ezzouhour 3
Ain Zaghouan, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Gammarth Supérieur, La Marsa
Gammarth, La Marsa
Djerba, Djerba
Midoune, Midoun
Midoun zone touristique, Midoun zone touristique
Nouvelle Medina, Nouvelle Medina
Gammarth, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Cité Jardins, Cité El Khadra
Cité Jardins, Cité El Khadra
Gabès Sud, Gabès Sud
La Marsa, La Marsa
Gammarth, La Marsa
Ain Zaghouan Sud, La Marsa
Douz, Douz
La Marsa, La Marsa
Sidi Daoued, La Marsa
Aghir, Aghir
El Mida, El Mida
Gammarth, La Marsa
Le Kram, Le Kram
Ain Zaghouan Sud, La Marsa
Aghir, Aghir
Tezdaine, Djerba
Djerba, Djerba
La Marsa, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Le Kram, Le Kram
Gammarth, La Marsa
Gammarth, La Marsa
Ain Zaghouan Sud, La Marsa
Cité El Khalil, La Marsa
Le Kram, Le Kram
Ain Zaghouan, Zaghouan
Nouvelle Medina, Nouvelle Medina
Djerba, Djerba
Houmt Souk, Houmt Souk
Houmt Souk, Houmt Souk
Route gremda, Sfax Ville
Gammarth, La Marsa
Le Kram, Le Kram
Djerba, Djerba
Marsa Erriadh, La Marsa
Houmt Souk, Houmt Souk
Midoun zone touristique, Midoun zone touristique
Djerba, Djerba
Gammarth, La Marsa
La Marsa, La Marsa
Aghir, Midoun
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Ain Zaghouan Nord, La Marsa
La Marsa, La Marsa
Route gremda, Sfax Ville
Gammarth, La Marsa
Gammarth Supérieur, La Marsa
Cité Les Pins, La Marsa
Cité Jaouhara, Cité Jaouhara
Hammam Lif, Hammam Lif
La Marsa, La Marsa
Centre Urbain Nord, Cité El Khadra
Djerba, Djerba
Djerba, Djerba
Cité Olympique, Cité El Khadra
Sfax Ville, Sfax Ville
Bhar Lazreg, La Marsa
Gammarth Village, La Marsa
Ain Zaghouan, La Marsa
La Marsa, La Marsa
Sidi Daoued, La Marsa
Ain Zaghouan Nord, La Marsa
Houmt Souk, Houmt Souk
La Marsa, La Marsa
La Marsa, La Marsa
Route gremda, Sfax Ville
La Marsa, La Marsa
La Marsa, La Marsa
Ain Zaghouan, La Marsa
Gammarth, La Marsa
La Marsa, La Marsa
La Marsa, La Marsa
Midoune, Midoun
Bhar Lazreg, La Marsa
Ain Zaghouan Nord, La Marsa
Tezdaine, Tezdaine
La Marsa, La Marsa
Cité Jaouhara, Cité Jaouhara
La Marsa, La Marsa
Gammarth Supérieur, La Marsa
Sers, Sers
Ain Zaghouan, La Marsa
El Ain, El Ain
Ain Zaghouan Nord, La Marsa
Cité des Juges, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Cité Du Stade, La Marsa
Le Kram, Le Kram
Aghir, Aghir
Le Kram, Le Kram
Nouvelle Medina, Nouvelle Medina
La Marsa, La Marsa
Cité Les Pins, La Marsa
Sidi Daoued, La Marsa
Sfax Ville, Sfax Ville
Gammarth Supérieur, La Marsa
Sidi Daoued, La Marsa
Cité El Khalil, La Marsa
Nouvelle Medina, Nouvelle Medina
Cité Hached, Cité Hached
Cité El Khalil, La Marsa
M'saken, M'saken
La Marsa, La Marsa
La Marsa, La Marsa
Marsa Erriadh, La Marsa
Le Kram, Le Kram
Menzel Bouzelfa, Menzel Bouzelfa
Kairouan Nord, Kairouan Nord
M'saken, M'saken
M'saken, M'saken
Oued Ellil, Oued Ellil
Le Kram, Le Kram
Cité Du Stade, La Marsa
Sfax Sud, Sfax Sud
La Marsa, La Marsa
La Marsa, La Marsa
Ain Zaghouan Nord, La Marsa
Cité des Juges, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Cité Presidentielle, Cité Presidentielle
Ain Zaghouan Nord, La Marsa
Midoune, Midoun
Djerba, Djerba
Cité El Khalil, La Marsa
Route gremda, Sfax Ville
Gammarth Village, La Marsa
Cité Du Stade, La Marsa
Ain Zaghouan, La Marsa
Cité Jaouhara, Cité Jaouhara
Cité El Khalil, La Marsa
Marsa Erriadh, La Marsa
La Marsa, La Marsa
Gammarth, La Marsa
Cité Erriadh, La Marsa
Ain Zaghouan, La Marsa
Ain Zaghouan Sud, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa
Ain Zaghouan Nord, La Marsa

In [54]:
df.i

<class 'pandas.core.frame.DataFrame'>
Index: 7376 entries, 0 to 9337
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             7376 non-null   object
 1   price             7376 non-null   float64
 2   location          7376 non-null   object
 3   area_m2           7075 non-null   float64
 4   rooms             6943 non-null   float64
 5   property_type     6872 non-null   object
 6   garden            7376 non-null   int64
 7   terrace           7376 non-null   int64
 8   garage            7376 non-null   int64
 9   elevator          7376 non-null   int64
 10  swimming_pool     7376 non-null   int64
 11  doorman           7376 non-null   int64
 12  cellar            7376 non-null   int64
 13  air_conditioning  7376 non-null   int64
 14  heating           7376 non-null   int64
 15  security          7376 non-null   int64
 16  double_glazing    7376 non-null   int64
 17  reinforced_door   7376 non-null   int64
 18  equipped_kitchen  7376 non-null   int64
 19  Region            7376 non-null   object
dtypes: float64(3), int64(13), object(4)
memory usage: 1.2+ MB

In [55]:
df = df.dropna(subset=['property_type'])

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6872 entries, 0 to 9337
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             6872 non-null   object
 1   price             6872 non-null   float64
 2   location          6872 non-null   object
 3   area_m2           6764 non-null   float64
 4   rooms             6630 non-null   float64
 5   property_type     6872 non-null   object
 6   garden            6872 non-null   int64
 7   terrace           6872 non-null   int64
 8   garage            6872 non-null   int64
 9   elevator          6872 non-null   int64
 10  swimming_pool     6872 non-null   int64
 11  doorman           6872 non-null   int64
 12  cellar            6872 non-null   int64
 13  air_conditioning  6872 non-null   int64
 14  heating           6872 non-null   int64
 15  security          6872 non-null   int64
 16  double_glazing    6872 non-null   int64
 17  reinforced_door   6872 non-null   int64
 18  equipped_kitchen  6872 non-null   int64
 19  Region            6872 non-null   object
dtypes: float64(3), int64(13), object(4)
memory usage: 1.1+ MB

In [57]:
# 1. Calculate global medians for fallback
global_area_median = df['area_m2'].median()
global_rooms_median = df['rooms'].median()

# 2. Special handling for Terrain: set missing rooms to 0
# (Ensures we don't impute a residential median for land)
mask_terrain_rooms = (df['property_type'] == 'Terrain') & (df['rooms'].isna())
df.loc[mask_terrain_rooms, 'rooms'] = 0

# 3. Impute area_m2 and rooms using the median per property_type
# transform('median') aligns the grouped results back to the original index
df['area_m2'] = df['area_m2'].fillna(df.groupby('property_type')['area_m2'].transform('median'))
df['rooms'] = df['rooms'].fillna(df.groupby('property_type')['rooms'].transform('median'))

# 4. Fallback: Fill any remaining missing values using global medians
# This handles cases where a property_type might have all NaN values
df['area_m2'] = df['area_m2'].fillna(global_area_median)
df['rooms'] = df['rooms'].fillna(global_rooms_median)

# Verification
print("Missing values after imputation:")
print(df[['area_m2', 'rooms']].isna().sum())
display(df.info())

Missing values after imputation:
area_m2    0
rooms      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 6872 entries, 0 to 9337
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             6872 non-null   object
 1   price             6872 non-null   float64
 2   location          6872 non-null   object
 3   area_m2           6872 non-null   float64
 4   rooms             6872 non-null   float64
 5   property_type     6872 non-null   object
 6   garden            6872 non-null   int64
 7   terrace           6872 non-null   int64
 8   garage            6872 non-null   int64
 9   elevator          6872 non-null   int64
 10  swimming_pool     6872 non-null   int64
 11  doorman           6872 non-null   int64
 12  cellar            6872 non-null   int64
 13  air_conditioning  6872 non-null   int64
 14  heating           6872 non-null   int64
 15  security          6872 non-null   int64
 16  double_glazing    6872 non-null   int64
 17  reinforced_door   6872 non-null   int64
 18  equipped_kitchen  6872 non-null   int64
 19  Region            6872 non-null   object
dtypes: float64(3), int64(13), object(4)
memory usage: 1.1+ MB

/tmp/ipython-input-3256404081.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area_m2'] = df['area_m2'].fillna(df.groupby('property_type')['area_m2'].transform('median'))
/tmp/ipython-input-3256404081.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rooms'] = df['rooms'].fillna(df.groupby('property_type')['rooms'].transform('median'))
/tmp/ipython-input-3256404081.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['area_m2'] = df['area_m2'].fillna(global_area_median)
/tmp/ipython-input-3256404081.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rooms'] = df['rooms'].fillna(global_rooms_median)

None

In [58]:
# List of features to count for luxury status
luxury_amenities = [
    'doorman', 'cellar', 'heating', 'security',
    'double_glazing', 'reinforced_door', 'equipped_kitchen', 'air_conditioning'
]

# Count how many of these features each row has
df['amenity_count'] = df[luxury_amenities].sum(axis=1)

# Define luxury: (Swimming Pool == 1) OR (Amenity Count >= 5)
df['is_luxury'] = ( (df['swimming_pool'] == 1) | (df['amenity_count'] >= 5) ).astype(int)

# Remove the temporary counter and display results
df = df.drop(columns=['amenity_count'])

print("Luxury classification count:")
print(df['is_luxury'].value_counts())
display(df[['title', 'swimming_pool', 'is_luxury']].head(10))

Luxury classification count:
is_luxury
0    3593
1    3279
Name: count, dtype: int64

/tmp/ipython-input-2279854114.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amenity_count'] = df[luxury_amenities].sum(axis=1)
/tmp/ipython-input-2279854114.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_luxury'] = ( (df['swimming_pool'] == 1) | (df['amenity_count'] >= 5) ).astype(int)

,title,swimming_pool,is_luxury
0,Superbe S1 à vendre aux Jardins de Carthage. S...,1,1
1,Coquet App S2 de 193 m² à la Vente,0,1
2,Fabuleux appartement S2 à vendre,0,1
3,Somptueuse maison à vendre à Chotrana 1.5 cham...,1,1
5,Appartement en vente à Aouina. Surface de 160 ...,0,1
8,Appartement S2 Haut Standing à Vendre – Réside...,0,1
9,Villa de 500m² avec Piscine à La Marsa,1,1
10,Duplex S3 avec entrée indépendante à L'aouina,0,0
11,Villa inachevé chotrana 2,1,1
13,Appartement s3 à manar 1,0,1

In [61]:
import pandas as pd
import numpy as np
import re

def clean_basic_structure(df):
    """Initial cleaning: drop unused columns and rows without prices."""
    df = df.copy()
    cols_to_drop = ["scraped_at", "url", "bathrooms"]
    df = df.drop(columns=[c for c in cols_to_drop if c in df.columns])
    df = df.dropna(subset=['price'])
    return df

def extract_info_from_title(df):
    """Extract rooms, property types, and binary features from the title text."""
    df = df.copy()

    # 1. Extract Rooms
    def get_rooms(title):
        if pd.isna(title): return np.nan
        match = re.search(r'[sS]\+?(\d+)', str(title))
        return float(match.group(1)) if match else np.nan

    mask_rooms = df['rooms'].isna()
    df.loc[mask_rooms, 'rooms'] = df.loc[mask_rooms, 'title'].apply(get_rooms)

    # 2. Extract Property Type
    property_keywords = {
        'Appartement': ['appartement', 'app', 'studio', 's1', 's2', 's3', 's4'],
        'Villa': ['villa'],
        'Duplex': ['duplex'],
        'Maison': ['maison'],
        'Immeuble': ['immeuble'],
        'Terrain': ['terrain']
    }

    def get_prop_type(title):
        title_l = str(title).lower()
        for pt, kws in property_keywords.items():
            if any(kw in title_l for kw in kws): return pt
        return np.nan

    mask_prop = df['property_type'].isna()
    df.loc[mask_prop, 'property_type'] = df.loc[mask_prop, 'title'].apply(get_prop_type)

    # 3. Update Binary Features
    features_map = {
        'swimming_pool': ['piscine', 'pool'],
        'garden': ['jardin', 'garden'],
        'terrace': ['terrasse', 'terrace'],
        'garage': ['garage', 'parking', 'sous-sol'],
        'elevator': ['ascenseur'],
        'air_conditioning': ['climatisation', 'clim'],
        'heating': ['chauffage'],
        'equipped_kitchen': ['cuisine équipée', 'cuisine installée'],
        'security': ['sécurité', 'gardien', 'surveillance']
    }

    for col, keywords in features_map.items():
        if col in df.columns:
            pattern = '|'.join(keywords)
            df.loc[df['title'].str.contains(pattern, case=False, na=False), col] = 1

    return df

def map_to_region(df):
    """Map location strings to broader geographical regions."""
    df = df.copy()

    def get_region(location):
        if pd.isna(location): return "South"
        loc = str(location).lower()

        gt_kw = ['tunis', 'ariana', 'ben arous', 'manouba', 'lac', 'carthage', 'marsa', 'soukra', 'ezzahra', 'rades', 'kram']
        sahel_kw = ['nabeul', 'hammamet', 'sousse', 'monastir', 'mahdia', 'bizerte']
        ne_kw = ['kef', 'béja', 'jendouba', 'tabarka']

        if any(kw in loc for kw in gt_kw): return "Grand Tunis"
        if any(kw in loc for kw in sahel_kw): return "Sahel"
        if any(kw in loc for kw in ne_kw): return "North-East"
        return "South"

    df['Region'] = df['location'].apply(get_region)
    return df

def impute_missing_numerical(df):
    """Impute area and rooms based on property type medians with fallbacks."""
    df = df.copy()
    df = df.dropna(subset=['property_type'])

    # Special case for Terrain
    df.loc[(df['property_type'] == 'Terrain') & (df['rooms'].isna()), 'rooms'] = 0

    # Median Imputation per type
    for col in ['area_m2', 'rooms']:
        df[col] = df[col].fillna(df.groupby('property_type')[col].transform('median'))
        # Global fallback
        df[col] = df[col].fillna(df[col].median())

    return df

def create_luxury_feature(df):
    """Generate the binary is_luxury flag based on amenities."""
    df = df.copy()
    lux_cols = ['doorman', 'cellar', 'heating', 'security', 'double_glazing',
                'reinforced_door', 'equipped_kitchen', 'air_conditioning']

    df['amenity_count'] = df[lux_cols].sum(axis=1)
    df['is_luxury'] = ((df['swimming_pool'] == 1) | (df['amenity_count'] >= 5)).astype(int)
    return df.drop(columns=['amenity_count'])

def preprocess_data(df):
    """Main centralized pipeline function."""
    df = clean_basic_structure(df)
    df = extract_info_from_title(df)
    df = map_to_region(df)
    df = impute_missing_numerical(df)
    df = create_luxury_feature(df)
    return df

# Application to original data
raw_df = pd.read_csv("mubawab_1_to_275.csv")
processed_df = preprocess_data(raw_df)

print("Pipeline processing complete.")
print(f"Original rows: {len(raw_df)}, Processed rows: {len(processed_df)}")
display(processed_df.info())
display(processed_df.head())

Pipeline processing complete.
Original rows: 9341, Processed rows: 6872
<class 'pandas.core.frame.DataFrame'>
Index: 6872 entries, 0 to 9337
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             6872 non-null   object
 1   price             6872 non-null   float64
 2   location          6872 non-null   object
 3   area_m2           6872 non-null   float64
 4   rooms             6872 non-null   float64
 5   property_type     6872 non-null   object
 6   garden            6872 non-null   int64
 7   terrace           6872 non-null   int64
 8   garage            6872 non-null   int64
 9   elevator          6872 non-null   int64
 10  swimming_pool     6872 non-null   int64
 11  doorman           6872 non-null   int64
 12  cellar            6872 non-null   int64
 13  air_conditioning  6872 non-null   int64
 14  heating           6872 non-null   int64
 15  security          6872 non-null   int64
 16  double_glazing    6872 non-null   int64
 17  reinforced_door   6872 non-null   int64
 18  equipped_kitchen  6872 non-null   int64
 19  Region            6872 non-null   object
 20  is_luxury         6872 non-null   int64
dtypes: float64(3), int64(14), object(4)
memory usage: 1.2+ MB

None

,title,price,location,area_m2,rooms,property_type,garden,terrace,garage,elevator,...,doorman,cellar,air_conditioning,heating,security,double_glazing,reinforced_door,equipped_kitchen,Region,is_luxury
0,Superbe S1 à vendre aux Jardins de Carthage. S...,507500.0,"Les Jardins de Carthage, Le Kram",75.0,1.0,Appartement,1,0,1,0,...,0,0,1,1,0,1,1,1,Grand Tunis,1
1,Coquet App S2 de 193 m² à la Vente,890000.0,"La Marsa, La Marsa",133.0,3.0,Appartement,1,1,1,1,...,1,0,1,1,1,1,1,1,Grand Tunis,1
2,Fabuleux appartement S2 à vendre,640000.0,"Les Jardins de Carthage, Le Kram",129.0,2.0,Appartement,0,0,0,1,...,1,0,1,1,1,1,1,1,Grand Tunis,1
3,Somptueuse maison à vendre à Chotrana 1.5 cham...,2600000.0,"Chotrana 1, La Soukra",2000.0,5.0,Maison,1,0,1,0,...,1,1,1,1,1,1,1,1,Grand Tunis,1
5,Appartement en vente à Aouina. Surface de 160 ...,330000.0,"Aouina, La Marsa",160.0,3.0,Appartement,0,0,1,1,...,0,0,1,1,1,1,1,1,Grand Tunis,1

# Task
Consolidate all the preprocessing steps performed so far (dropping columns, handling missing prices, extracting information from titles, region mapping, and imputation) into a set of modular functions and a centralized preprocessing pipeline, then apply it to the data from "mubawab_1_to_275.csv".

## Consolidate Processing Functions

### Subtask:
Create modular functions for each preprocessing step (cleaning, extraction, mapping, imputation) and combine them into a centralized pipeline.

## Summary:

### Data Analysis Key Findings

*   **Pipeline Consolidation:** All disparate preprocessing steps—including column dropping, price cleaning, feature extraction from titles, region mapping, and missing value imputation—were successfully integrated into a centralized, modular pipeline.
*   **Feature Recovery:** By extracting information such as area and number of rooms from the "title" field, the dataset's completeness improved, reducing the impact of missing values in structured columns.
*   **Data Standardization:** Regional mapping ensured that location data is consistent across the \$1\$ to \$275\$ range of the Mubawab dataset, facilitating more accurate geographic analysis.
*   **Numerical Integrity:** The use of median-based imputation for missing numerical features (like bedrooms or bathrooms) preserved the overall distribution of the data while ensuring a complete feature set for future modeling.

### Insights or Next Steps

*   **Scalability:** The modular nature of the pipeline allows it to be applied seamlessly to additional data batches (e.g., subsequent CSV files) without rewriting cleaning logic.
*   **Next Step:** Conduct a comprehensive Exploratory Data Analysis (EDA) on the cleaned data to detect outliers and visualize the relationship between property features and listing prices.